In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
df = pd.read_csv("/kaggle/input/titanic/train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df.shape

(891, 12)

In [6]:
df.size

10692

In [7]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
df["Age"].isnull().sum() #NaN değerlerin sayısı

177

In [9]:
df["Age"].mean() #Yaş ortalaması

29.69911764705882

1-) Kazada ölenlerin yaş ortalamasını bulunuz

In [10]:
dead = df.loc[df["Survived"] == 0] #Ölenler
dead["Age"].mean()

30.62617924528302

2-) Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [11]:
dead["Fare"].mean() #Ortalama

22.117886885245902

In [12]:
dead["Fare"].median() #Medyan

10.5

3-) Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [13]:
man = dead.loc[dead["Sex"] == "male"]
man["Age"].mean()

31.618055555555557

4-) Kazada ölen Kadınların yaş ortalamasını bulunuz

In [14]:
women = dead.loc[dead["Sex"] == "female"]
women["Age"].mean()

25.046875

5-) Kazadan kurtulanların yaş ortalamasını bulunuz

In [15]:
survived = df.loc[df["Survived"] == 1]
survived["Age"].mean()

28.343689655172415

6-) Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [16]:
survived["Fare"].mean()

48.39540760233918

7-) Kazadan kurtulan toplam kişi sayısını bulunuz

In [17]:
survived["Survived"].sum()

342

8-) 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [18]:
child = df.loc[df["Age"] < 10]
child["Fare"].median()

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)

27.0

9-) 1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız

In [19]:
df.groupby("Pclass")["Fare"].mean() #Ortalama

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [20]:
df.groupby("Pclass")["Fare"].median() #Medyan

Pclass
1    60.2875
2    14.2500
3     8.0500
Name: Fare, dtype: float64

10-) Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız (Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir

In [21]:
len(women) / len(df.loc[df["Sex"] == "female"]) #Women, yukarıda 4. soruda tanımlanmıştı

0.25796178343949044

In [22]:
len(man) / len(df.loc[df["Sex"] == "male"]) #Man, yukarıda 3. soruda tanımlanmıştı

0.8110918544194108